$fontSizeXl: 1.6rem;
$fontSizeLg: 1.3rem;
$fontSizeMd: 1rem;
$fontSizeSm: 0.8rem;
$fontSizeXs: 0.7rem;
$borderThin: 1px solid black;

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.FlightStrip {
  border: 2px solid black;
  background-color: lightgrey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;

  .topRow {
    justify-content: space-evenly;
    border-bottom: $borderThin;
  }

  .bottomRow {
    justify-content: space-evenly;
  }

  .col1 {
    width: $fontSizeMd * 8;
    border-right: $borderThin;

    @media (max-width: 480px) {
      width: 30%;
    }
  }

  .col2 {
    width: $fontSizeMd * 17;
    border-right: $borderThin;

    @media (max-width: 480px) {
      width: 60%;
    }
  }

  .col3 {
    width: 2.5rem;

    @include flexCenter();

    @media (max-width: 480px) {
      width: 10%;
    }
  }

  .dataBox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
  }

  // DATA BOXES

  .acId {
    justify-content: start;
    font-size: $fontSizeLg;
    font-weight: bold;
  }

  .acType {
    font-size: $fontSizeXs;
  }

  .filedTAS {
    font-size: $fontSizeXs;
  }

  .transponderCode {
    width: 25%;
    padding: 5px 0;
    border-right: $borderThin;
    font-size: $fontSizeSm;
  }

  .assignedSpeed {
    font-size: $fontSizeMd;
  }

  .filedAlt {
    width: 25%;
    border-left: $borderThin;
    font-size: $fontSizeMd;
  }

  .assignedAlt {
    width: 18%;
    border-right: $borderThin;
    font-size: $fontSizeXl;
  }

  .arrow {
    width: 10%;
    font-size: $fontSizeXl;
  }

  .additionalInfo {
    flex-grow: 2;
    border-left: $borderThin;
    font-size: $fontSizeLg;
  }

  .assignedHeading {
    width: 18%;
    border-left: $borderThin;
    font-size: $fontSizeLg;
  }

  .runwayId {
    cursor: pointer;
    font-size: $fontSizeXl;

    &:hover {
      background-color: darkgray;
    }

    &:active {
      font-size: $fontSizeLg;
    }
  }

  .departurePoint {
    border-right: $borderThin;
    font-size: $fontSizeMd;
  }

  .filedRoute {
    flex-grow: 2;
    justify-content: start;
    border-right: $borderThin;
    font-size: $fontSizeMd;
  }

  .destination {
    font-size: $fontSizeMd;
  }

  .ETA {
    font-size: $fontSizeSm;
  }
}

.flexRow {
  display: flex;
  height: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

.flexCol {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
}

.spaceBetween {
  justify-content: space-between;
}
